<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Note</title>
  </head>
  <body>
    <h1>New Note</h1>
    <form action="/" method="POST">
      <label>Name of note</label>
      <br />
      <input name="noteName" placeholder="Name of note" />
      <br />
      <textarea name="noteContent">Enter note here</textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
